.todos {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  max-height: 80vh;
  &-card {
    &.important {
      background-color: #0831ff;
      color: #fff;
      .card {
        &-title {
          font-weight: bold;
        }
      }
    }
    
    &.completed {
      .card {
        &-title {
          text-decoration: line-through;
        }
      }
    }
  }
}
